# Copie este arquivo para .env e preencha com seus valores locais
# cp .env.example .env

DATABASE_URL="postgresql://postgres:sua_senha@localhost:5432/reativa_dev"
JWT_SECRET="substitua-por-uma-chave-com-pelo-menos-32-caracteres-aleatoria"
JWT_EXPIRES_IN="7d"
PORT=3333
NODE_ENV="development"
FRONTEND_URL="http://localhost:5173"
